<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SchoolCommunity.SchoolCommunityBackendNew.mappers.AuthorityMapper">
  <resultMap id="BaseResultMap" type="SchoolCommunity.SchoolCommunityBackendNew.model.Authority">
    <id column="authorityid" jdbcType="INTEGER" property="authorityid" />
    <result column="authorityname" jdbcType="VARCHAR" property="authorityname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    authorityid, authorityname
  </sql>
  <select id="selectByExample" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.AuthorityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority
    where authorityid = #{authorityid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authority
    where authorityid = #{authorityid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.AuthorityExample">
    delete from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.Authority">
    insert into authority (authorityid, authorityname)
    values (#{authorityid,jdbcType=INTEGER}, #{authorityname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.Authority">
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorityid != null">
        authorityid,
      </if>
      <if test="authorityname != null">
        authorityname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorityid != null">
        #{authorityid,jdbcType=INTEGER},
      </if>
      <if test="authorityname != null">
        #{authorityname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.AuthorityExample" resultType="java.lang.Long">
    select count(*) from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update authority
    <set>
      <if test="record.authorityid != null">
        authorityid = #{record.authorityid,jdbcType=INTEGER},
      </if>
      <if test="record.authorityname != null">
        authorityname = #{record.authorityname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update authority
    set authorityid = #{record.authorityid,jdbcType=INTEGER},
      authorityname = #{record.authorityname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.Authority">
    update authority
    <set>
      <if test="authorityname != null">
        authorityname = #{authorityname,jdbcType=VARCHAR},
      </if>
    </set>
    where authorityid = #{authorityid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="SchoolCommunity.SchoolCommunityBackendNew.model.Authority">
    update authority
    set authorityname = #{authorityname,jdbcType=VARCHAR}
    where authorityid = #{authorityid,jdbcType=INTEGER}
  </update>
</mapper>